{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero">
  <div class="container">
    <img class="hero-image" src="{% static './images/hero.jpg' %}" alt="Hero Image" />
  </div>
  <div class="content wow zoomIn">
    <h1>الوفاء</h1>
  </div>
</section>

<section class="container">
  <h2>الفواكة</h2>

  <div class="products">  
    {% for fruit in fruits %}
      <a href="{% url 'base:product' fruit.pk %}">
        <img class="image" src="{{fruit.image.url}}" alt="Product Thumbnail" />
        <div class="product-info">
          <h4>{{ fruit.name }}</h4>
        </div>
      </a>
    {% endfor %}
  </div>
  </div>
</section>

<section class="container">
  <h2>الخضروات</h2>

  <div class="products">  
    {% for vegetable in vegetables %}
      <a href="{% url 'base:product' vegetable.slug %}">
        <img class="image" src="{{vegetable.image.url}}" alt="Product Thumbnail" />
        <div class="product-info">
          <h4>{{ vegetable.name }}</h4>
        </div>
      </a>
    {% endfor %}
  </div>
</section>

<section class="container">
  <h2>التوابل</h2>

  <div class="products">  
    {% for spice in spices %}
      <a href="{% url 'base:product' spice.slug %}">
        <img class="image" src="{{spice.image.url}}" alt="Product Thumbnail" />
        <div class="product-info">
          <h4>{{ spice.name }}</h4>
        </div>
      </a>
    {% endfor %}
  </div>
  </div>
</section>

<div class="contact-background-color">
  <section class="container">
    <h2>التواصل</h2>

    <div class="contact">
      <div class="contact-info">
        <p>Email: momen-ahmed@outlook.com</p>
      </div>
    </div>
  </section>
</div>
{% endblock  %}